/**
 * 12-Column Grid System
 *
 * Structure:
 * - Columns 1 & 12: Wider outer columns (2fr each) - margins/gutters
 * - Columns 2-11: Narrower inner columns (1fr each) - content area
 *
 * Usage:
 * - Apply .grid-container to parent
 * - Use grid-column utilities to position elements
 */

.grid-container {
  display: grid;
  grid-template-columns:
    [col-1-start] 2fr
    [col-1-end col-2-start] 1fr
    [col-2-end col-3-start] 1fr
    [col-3-end col-4-start] 1fr
    [col-4-end col-5-start] 1fr
    [col-5-end col-6-start] 1fr
    [col-6-end col-7-start] 1fr
    [col-7-end col-8-start] 1fr
    [col-8-end col-9-start] 1fr
    [col-9-end col-10-start] 1fr
    [col-10-end col-11-start] 1fr
    [col-11-end col-12-start] 2fr
    [col-12-end];
  width: 100%;
  max-width: 1280px; /* max-w-7xl */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .grid-container {
    padding-left: 1.5rem; /* sm:px-6 */
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .grid-container {
    padding-left: 2rem; /* lg:px-8 */
    padding-right: 2rem;
  }
}

/* Column span utilities */
.col-span-1 {
  grid-column: span 1 / span 1;
}
.col-span-2 {
  grid-column: span 2 / span 2;
}
.col-span-3 {
  grid-column: span 3 / span 3;
}
.col-span-4 {
  grid-column: span 4 / span 4;
}
.col-span-5 {
  grid-column: span 5 / span 5;
}
.col-span-6 {
  grid-column: span 6 / span 6;
}
.col-span-7 {
  grid-column: span 7 / span 7;
}
.col-span-8 {
  grid-column: span 8 / span 8;
}
.col-span-9 {
  grid-column: span 9 / span 9;
}
.col-span-10 {
  grid-column: span 10 / span 10;
}
.col-span-11 {
  grid-column: span 11 / span 11;
}
.col-span-12 {
  grid-column: span 12 / span 12;
}

/* Column start utilities */
.col-start-1 {
  grid-column-start: col-1-start;
}
.col-start-2 {
  grid-column-start: col-2-start;
}
.col-start-3 {
  grid-column-start: col-3-start;
}
.col-start-4 {
  grid-column-start: col-4-start;
}
.col-start-5 {
  grid-column-start: col-5-start;
}
.col-start-6 {
  grid-column-start: col-6-start;
}
.col-start-7 {
  grid-column-start: col-7-start;
}
.col-start-8 {
  grid-column-start: col-8-start;
}
.col-start-9 {
  grid-column-start: col-9-start;
}
.col-start-10 {
  grid-column-start: col-10-start;
}
.col-start-11 {
  grid-column-start: col-11-start;
}
.col-start-12 {
  grid-column-start: col-12-start;
}

/* Column end utilities */
.col-end-1 {
  grid-column-end: col-1-end;
}
.col-end-2 {
  grid-column-end: col-2-end;
}
.col-end-3 {
  grid-column-end: col-3-end;
}
.col-end-4 {
  grid-column-end: col-4-end;
}
.col-end-5 {
  grid-column-end: col-5-end;
}
.col-end-6 {
  grid-column-end: col-6-end;
}
.col-end-7 {
  grid-column-end: col-7-end;
}
.col-end-8 {
  grid-column-end: col-8-end;
}
.col-end-9 {
  grid-column-end: col-9-end;
}
.col-end-10 {
  grid-column-end: col-10-end;
}
.col-end-11 {
  grid-column-end: col-11-end;
}
.col-end-12 {
  grid-column-end: col-12-end;
}

/* Specific alignment utilities */
.align-from-col-6 {
  grid-column-start: col-6-start;
}

.content-area {
  /* Spans columns 2-11 (the 10 narrow content columns) */
  grid-column: col-2-start / col-11-end;
}

.full-width {
  /* Spans all 12 columns */
  grid-column: col-1-start / col-12-end;
}
